{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register | Brijesh Kr Pandey</title>

<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>

<div class="register-page">

    <!-- Left Side -->
    <div class="register-left">
        <div class="overlay"></div>

        <div class="left-content">
            <h1>Create Account</h1>
            <p>Register to book appointments and manage your health records easily.</p>
        </div>
    </div>

    <!-- Right Side -->
    <div class="register-right">

        <div class="register-box">

            <h2>Sign Up</h2>
            <p class="sub-text">Create your account</p>

            <form method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="input-box">
                        <label>First Name</label>
                        <input type="text" name="first_name">
                    </div>

                    <div class="input-box">
                        <label>Last Name</label>
                        <input type="text" name="last_name">
                    </div>
                </div>

                <div class="input-box">
                    <label>Email</label>
                    <input type="email" name="email">
                </div>

                <div class="input-box">
                    <label>Phone</label>
                    <input type="text" name="phone">
                </div>

                <div class="input-box">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>

                <div class="input-box">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password">
                </div>

                <button type="submit" class="register-btn">
                    Register
                </button>

                <p class="login-text">
                    Already have an account?
                    <a href="#">Login</a>
                </p>

            </form>

        </div>

    </div>

</div>

</body>
</html>